.buttonPlay {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-background-radius: 5em;
    -fx-min-width: 130px;
    -fx-min-height: 130px;
    -fx-max-width: 130px;
    -fx-max-height: 130px;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.buttonPlay:hover{
    -fx-font-size: 22pt;
}

.buttonPlay:pressed{
    -fx-font-size: 20pt;
}

.buttonStop {
    -fx-background-color:
        linear-gradient(#FFD8D8, #FFB6B6),
        radial-gradient(center 50% -40%, radius 200%, #FFB2B2 45%, #FF7575 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-background-radius: 5em;
    -fx-min-width: 130px;
    -fx-min-height: 130px;
    -fx-max-width: 130px;
    -fx-max-height: 130px;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.buttonStop:hover{
    -fx-font-size: 22pt;
}

.buttonStop:pressed{
    -fx-font-size: 20pt;
}

.buttonReset {
    -fx-background-color:
        linear-gradient(#ffd6ea, #ffaed6),
        radial-gradient(center 50% -40%, radius 200%, #FFABD4 45%, #FF6AB4 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(256,256,256,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-background-radius: 5em;
    -fx-font-size: 17pt;
    -fx-font-weight: bold;
}

.buttonReset:hover{
    -fx-font-size: 19pt;
}

.buttonReset:pressed{
    -fx-font-size: 17pt;
}

.buttonCashout {
    -fx-background-color:
        linear-gradient(#FFDFBE, #FFBF7E),
        radial-gradient(center 50% -40%, radius 200%, #FFBC78 45%, #EF8B27 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-background-radius: 5em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-size: 17pt;
    -fx-font-weight: bold;
}

.buttonCashout:hover{
    -fx-font-size: 19pt;
}

.buttonCashout:pressed{
    -fx-font-size: 17pt;
}

.buttonBetToggle {
    -fx-background-color:
        linear-gradient(#D3E8FF, #50FFFF),
        radial-gradient(center 50% -40%, radius 200%, #47FFFF 45%, #12DADA 50%);
        -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.4) , 10, 0 , 0 , 0 );
    -fx-text-fill: #395306;
    -fx-font-size: 17pt;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-background-color:
        linear-gradient(#50FFFF, #D3E8FF),
        radial-gradient(center 50% -40%, radius 200%, #12DADA 45%, #47FFFF 50%);
        -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( one-pass-box , rgba(256,256,256,1.0) , 12, 1.0 , 0 , 0 );
    -fx-text-fill: #395306;
    -fx-font-size: 19pt;
}

.buttonBetToggle:hover{
    -fx-font-size: 19pt;
}

.buttonBetToggle:pressed{
    -fx-font-size: 17pt;
}


.buttonExit {
    -fx-background-color: rgba(93,38,120, 100);
    -fx-font-size: 12pt;
    -fx-background-radius: 5em;
}

.buttonExit:hover {
    -fx-underline: true;
}

.buttonExitBig {
    -fx-background-color: rgba(93,38,120, 100);
    -fx-font-size: 15pt;
    -fx-background-radius: 5em;
}

.buttonExitBig:hover {
    -fx-underline: true;
}

.fontLCDDot {
    -fx-font-family: "LCDDot";
}
