#pane{
    -fx-background-color: black;
}

.buttonMainMenu {
    -fx-background-color: rgba(173,214,92, 100);
    //-fx-border-color: white;
    -fx-font-size: 20pt;
    -fx-background-radius: 5em;
    -fx-font-weight: bold;
}
.buttonMainMenu:hover {
-fx-font-size: 22pt;
//-fx-underline: true;
}

.buttonMainMenu:pressed{
-fx-font-size: 20pt;
}

.buttonToggleSettings {
    -fx-background-color: rgba(93,38,120, 0.5);
    //-fx-border-color: rgb(93,38,120, 100);
            -fx-text-fill: white;
    -fx-font-size: 15pt;



}
.buttonToggleSettings:hover {
-fx-underline: true;
}

.buttonToggleSettings:selected {
-fx-background-color: rgba(93,38,120, 1);
-fx-effect: dropshadow( one-pass-box , rgba(255,255,255, 1) , 12, 1.0 , 0 , 0 );

}

.text-field {
    -fx-background-color: rgba(93,38,120, 0.5);
        -fx-text-fill: white;
            -fx-font-size: 15pt;
}

.text-field:focused {
    -fx-background-color: rgba(93,38,120, 0.7);

}
